*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif; 
}

body{
	height: 100%;
	width: 100%;
	margin: auto;
	background: #d3bc3ba4;
}

header {
	margin-top: 10px;
	border: 2px hidden;
	background: #d3bc3ba4;
}
.logo{
	display: inline;
	margin-left: 40px;
	vertical-align: middle;
	border-radius: 50px;
}
.page-header{
	display: inline;
	margin-left: 80px;
	font-size: 32px;
	font-weight: bold;
}

.top_nav {
	padding: 17px;
	background-color: #517479ea;
	border: hidden;

}
.top_nav ul li {
	display: inline;
	padding: 20px;
	margin-left: 50px;
	color: rgb(125, 14, 168);
	border: hidden;
	font-family: sans-serif;
	font-size: 18px;
}
.right {
	text-align: center;
	float: right;
	padding: 20px;
}
a {
	text-decoration: none;
}
:active{
	color: #5db30c96;
}
a:hover {
	font-weight: bold;
	text-decoration: underline; 
}
a:visited {
	color: #5db30c96;
}

article h2{
	font-size: 16px;
	padding-top: 30px;
}
article p{
	margin: 10px;
	padding: 10px;
	font-size: 16px;
	font-family: sans-serif;
}
#formal{
	height: 100%;
	width: 100%;
	margin: auto;
	background: rgb(64, 90, 110);
}
h1{
	text-align: center;
	font-size: 25px;
	color: #000000;
	border-bottom: 2px solid #ffffff;

}
.fill{
	max-width: 320px;
	margin: 2rem auto;
	padding: 2rem;
}
label{
	display: block;
	padding: 1rem 0 0.25rem 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;

}
input{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 0.5rem;
	border: 2px solid rgb(142, 155, 119);
	border-radius: 5px;
}

.send{
	border: 0;
	background: #d3bc3ba4;
	padding: 0.5rem;
	color: #ffffff;
	margin: 1rem 0;
	width: auto;
	cursor: pointer;
}
.send:hover{
	background: rgb(147, 180, 70);
}
.explain{
	margin: auto;
	padding: 15px;
	font-size 16px;
	font-family: sans-serif;
	text-align: center;
}
#order {
	text-align: left;
	margin: 20px ;
	font-family: sans-serif;
	font-size: 16px;
	padding: 15px;
	
}

.orders{
	max-width: 640px;
	margin: 10px;
	padding: 15px;

}
#others{
	display: inline;
}